<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zyz.star.module.mapper.StarMapper">

    <!-- app端：球星列表，只返回一张图片 -->
    <select id="listAppStars" resultType="com.zyz.star.module.entity.Star">
        SELECT
        id,
        images,
        name,
        team
        FROM star
        WHERE is_deleted = 0
        ORDER BY id
        LIMIT #{offset}, #{limit}
    </select>

    <!-- app端：球星详情，返回完整轮播图和简介 -->
    <select id="getAppStarDetail" resultType="com.zyz.star.module.entity.Star">
        SELECT
        id,
        images,
        name,
        team,
        position,
        detailIntro
        FROM star
        WHERE id = #{id}
        AND is_deleted = 0
    </select>

    <!-- console端：动态新增球星 -->
    <insert id="insert"
            parameterType="com.zyz.star.module.entity.Star"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">
        INSERT INTO star

        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="images != null and images != ''">
                images,
            </if>

            <if test="name != null and name != ''">
                name,
            </if>

            <if test="team != null and team != ''">
                team,
            </if>

            <if test="position != null and position != ''">
                position,
            </if>

            <if test="detailIntro != null and detailIntro != ''">
                detailIntro,
            </if>

            create_time,
            update_time,
            is_deleted
        </trim>

        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="images != null and images != ''">
                #{images},
            </if>

            <if test="name != null and name != ''">
                #{name},
            </if>

            <if test="team != null and team != ''">
                #{team},
            </if>

            <if test="position != null and position != ''">
                #{position},
            </if>

            <if test="detailIntro != null and detailIntro != ''">
                #{detailIntro},
            </if>

            UNIX_TIMESTAMP(),
            UNIX_TIMESTAMP(),
            0
        </trim>
    </insert>

    <!-- console端：动态修改球星 -->
    <update id="update" parameterType="com.zyz.star.module.entity.Star">
        UPDATE star

        <set>
            <if test="images != null and images != ''">
                images = #{images},
            </if>

            <if test="name != null and name != ''">
                name = #{name},
            </if>

            <if test="team != null and team != ''">
                team = #{team},
            </if>

            <if test="position != null and position != ''">
                position = #{position},
            </if>

            <if test="detailIntro != null and detailIntro != ''">
                detailIntro = #{detailIntro},
            </if>

            update_time = UNIX_TIMESTAMP()
        </set>

        <!--update 里 id 是 WHERE 必须条件，不需要动态判断-->
        WHERE id = #{id}
        AND is_deleted = 0
    </update>

    <select id="countByNameTeamPosition" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM star
        WHERE name = #{name}
        AND team = #{team}
        AND position = #{position}
        AND is_deleted = 0
    </select>

    <!-- console端：逻辑删除 -->
    <update id="deleteById">
        UPDATE star
        SET
        is_deleted = 1,
        update_time = UNIX_TIMESTAMP()
        WHERE id = #{id}
        AND is_deleted = 0
    </update>

    <!-- console端：分页查询球星列表 -->
    <select id="listConsoleStars"
            resultType="com.zyz.star.module.entity.Star">
        SELECT
        id,
        images,
        name,
        team,
        position
        FROM star
        WHERE is_deleted = 0
        ORDER BY id
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- console端：查询未删除球星总数 -->
    <select id="countConsoleStars" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM star
        WHERE is_deleted = 0
    </select>

    <!-- console端：查询球星详情 -->
    <select id="getConsoleStarDetail"
            resultType="com.zyz.star.module.entity.Star">
        SELECT
        id,
        images,
        name,
        team,
        position,
        detailIntro,
        create_time,
        update_time
        FROM star
        WHERE id = #{id}
        AND is_deleted = 0
    </select>
</mapper>